[tasks.into-go]
description = "into go container"
run = "docker compose exec go sh"

[tasks.into-postgres]
description = "into postgres"
run = "docker compose exec db sh -c \"psql -h localhost -p 5432 -U dev -d devdb\""

[tasks.up]
description = "up container"
run = "docker compose up -d"

[tasks.down]
description = "down container"
run = "docker compose down"

[tasks.migrate]
description = "migrate"
run = "migrate -path backend/internal/infrastructure/migration -database postgres://dev:password@localhost:5432/devdb?sslmode=disable up"

[tasks.drop-tables]
description = "drop tables"
run = "migrate -path backend/internal/infrastructure/migration -database postgres://dev:password@localhost:5432/devdb?sslmode=disable down"

[tasks.server]
description = "run server"
run = "docker compose exec go sh -c \"go run cmd/main.go\""

[tools]
gomigrate = "latest"
